*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
    position: relative;
}



.background{  /* background wallpaper*/

    background-size: cover;
    height: 100vh;
    height: 20%;  
    position: relative; 

}

.logo img{  /* website logo*/

    width: 300px;
    height: 100px;
    margin: 0;
    padding: 0;
  
    
    
}

nav{ /* navigation */
    width:1603px;
    height: 100px;
    background: white;
    overflow: auto;
    margin-left: 300px;
    margin-top: -104px;
}

nav ul{

    padding: 0;
    margin: 0 0 0 250px;
    list-style: none;
   
}

nav ul li{

    float: left;
}

nav ul li a{

    width: 100px;
    display: block;
    padding: 20px 25px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color:black;
    margin-top: 15px;
    

}

nav ul li a:hover{
    background: grey;
    font-weight: bold;
    text-transform:uppercase;
}

.search{

    border-radius: 30px;
    width:190px;
    height: 50px;
    margin-top: 15px;
    font-weight: bold;
    text-align: center;
    position: relative;
}

.table1{

    width: 1000px;
    height: 400px;
    margin-left: 50px;
    background-color:black;
    color: white;
    letter-spacing: 1px;
    padding-left: 350px;
    margin-top: -404px;
    position: relative;
    border-radius: 30px 0px 0px 30px;
    
}

.htmllogo {


    width : 600px;
    height: 400px;
    margin-left: 1050px;
    margin-top: 50px;
    position: relative;
    border-radius: 0 30px 30px 0px;
}

.htmlsubt{

    width: 350px;
    height: 50px;
    margin-left: 650px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    margin-top: 30px;
    border-radius: 30px;
    cursor: pointer;

}

.table2{


    width: 1000px;
    height: 400px;
    margin-left: 50px;
    background-color:white;
    color:black;
    letter-spacing: 1px;
    padding-left: 350px;
    margin-top: -404px;
    position: relative;
    border-radius: 30px 0px 0px 30px;
}

.csslogo{


    width : 600px;
    height: 400px;
    margin-left: 1050px;
    margin-top: 50px;
    position: relative;
    border-radius: 0 30px 30px 0px;
}

.csssubt{

    width: 350px;
    height: 50px;
    margin-left: 650px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    margin-top: 30px;
    border-radius: 30px;
    cursor: pointer;

}

.table3{

    width: 1000px;
    height: 400px;
    margin-left: 50px;
    background-color: black;
    color: white;
    letter-spacing: 1px;
    padding-left: 350px;
    margin-top: -404px;
    position: relative;
    border-radius: 30px 0px 0px 30px;


}

.ccclogo{

    width : 600px;
    height: 400px;
    margin-left: 1050px;
    margin-top: 50px;
    position: relative;
    border-radius: 0 30px 30px 0px;
}

.cccsubt{

    width: 350px;
    height: 50px;
    margin-left: 650px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    margin-top: 30px;
    border-radius: 30px;
    cursor: pointer;


}

.table4{

    width: 1000px;
    height: 400px;
    margin-left: 50px;
    background-color:white;
    color:black;
    letter-spacing: 1px;
    padding-left: 350px;
    margin-top: -404px;
    position: relative;
    border-radius: 30px 0px 0px 30px;
}

.javalogo{

    width : 600px;
    height: 400px;
    margin-left: 1050px;
    margin-top: 50px;
    position: relative;
    border-radius: 0 30px 30px 0px;
}

.javasubt{

    width: 350px;
    height: 50px;
    margin-left: 650px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    margin-top: 30px;
    border-radius: 30px;
    cursor: pointer;
}

.table5{

    width: 1000px;
    height: 400px;
    margin-left: 50px;
    background-color: black;
    color: white;
    letter-spacing: 1px;
    padding-left: 350px;
    margin-top: -404px;
    position: relative;
    border-radius: 30px 0px 0px 30px;
}

.clogo{

    width : 600px;
    height: 400px;
    margin-left: 1050px;
    margin-top: 50px;
    position: relative;
    border-radius: 0 30px 30px 0px;
}

.csubt{

    width: 350px;
    height: 50px;
    margin-left: 650px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    margin-top: 30px;
    border-radius: 30px;
    cursor: pointer;


}



.nav2{

    width:auto;
    height: 150px;
    background: white;
    margin-top: 337px;
    margin-left: auto;
    margin-right: auto;
    
    

}



.visa{

    height: 50px;
    margin-top: 50px;
    margin-left: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 1);
    transition: 1s;
    cursor: pointer;
}

.visa:hover{

    transform: scale(1.3);
    z-index: 2;
   
}

.mastercard{

    height: 50px;
    margin-left: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 1);
    transition: 1s;
    cursor: pointer;
    
}

.mastercard:hover{

    transform: scale(1.3);
    z-index: 2;
}

.amercian{

    height: 50px;
    margin-left: 40px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 1);
    transition: 1s;
    cursor: pointer;
}

.amercian:hover{

    transform: scale(1.3);
    z-index: 2;
}
.copy{

    color: black;
    text-align: center;
    margin-top: -40px;
    cursor: pointer;
    
}

.googlestore{

    height: 50px;
    margin-left: 50%;
    margin-top: 30px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 1);
    transition: 1s;
    cursor: pointer;
}
.googlestore:hover{

    transform: scale(1.3);
    z-index: 2;
}




.applestore{

    height: 50px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 1);
    transition: 1s;
    cursor: pointer;
}

.applestore:hover{

    transform: scale(1.3);
    z-index: 2;
}

.facebook{

    height: 50px;
    margin-left: 40px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 1);
    transition: 1s;
    cursor: pointer;
}

.facebook:hover{

    transform: scale(1.3);
    z-index: 2;

}

.twitter{

    height: 50px;
    margin-left: 40px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 1);
    transition: 1s;
    cursor: pointer;

}

.twitter:hover{

    transform: scale(1.3);
    z-index: 2;
}

.instagram{

    height: 50px;
    margin-left: 40px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 1);
    transition: 1s;
    cursor: pointer;
}

.instagram:hover{

    transform: scale(1.3);
    z-index: 2;
}
