*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
    position: relative;
}


.background{  /* background wallpaper*/

    background-size: cover;
    height: 100vh;
    height: 20%;  
    position: relative; 

}

.logo img{  /* website logo*/

    width: 300px;
    height: 100px;
    margin: 0;
    padding: 0;
}

nav{ /* navigation */
    width:auto;
    height: 100px;
    background: white;
    overflow: auto;
    margin-left: 300px;
    margin-top: -104px;
    position: absolute;
}

nav ul{

    padding: 0;
    margin: 0 0 0 250px;
    list-style: none;
   
}

nav ul li{

    float: left;
}

nav ul li a{

    width: 100px;
    display: block;
    padding: 20px 25px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color:black;
    font-weight: bold;
    margin-top: 15px;
   
    

}

nav ul li a:hover{
    background: grey;
    font-weight: bold;
    text-transform:uppercase;
}

.search{

    border-radius: 30px;
    width:190px;
    height: 50px;
    margin-top: 15px;
    font-weight: bold;
    text-align: center;
   
}

.intro{

    text-align: center;
    color: white;
}

.paragraph{

    text-align: center;
    color: white;

    
}

.listhead{


    margin-left: 430px;
    color: white;
}

.listtable{

    width: 850px;
    margin-left: 250px;
}

.tablehead{

    height: 40px;
    font-size:x-large;
    background-color: aquamarine;
    color: white;
}

.tablerow{

    height: 30px;
    background-color:navy;
    font-size: large;
    color: white;


}

.nav2{

    width:auto;
    height: 150px;
    background: white;
    margin-top: 337px;
    margin-left: auto;
    margin-right: auto;
    
    

}



.visa{

    height: 50px;
    margin-top: 50px;
    margin-left: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 1);
    transition: 1s;
    cursor: pointer;
}

.visa:hover{

    transform: scale(1.3);
    z-index: 2;
   
}

.mastercard{

    height: 50px;
    margin-left: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 1);
    transition: 1s;
    cursor: pointer;
    
}

.mastercard:hover{

    transform: scale(1.3);
    z-index: 2;
}

.amercian{

    height: 50px;
    margin-left: 40px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 1);
    transition: 1s;
    cursor: pointer;
}

.amercian:hover{

    transform: scale(1.3);
    z-index: 2;
}
.copy{

    color: black;
    text-align: center;
    margin-top: -40px;
    cursor: pointer;
    
}

.googlestore{

    height: 50px;
    margin-left: 50%;
    margin-top: 30px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 1);
    transition: 1s;
    cursor: pointer;
}
.googlestore:hover{

    transform: scale(1.3);
    z-index: 2;
}




.applestore{

    height: 50px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 1);
    transition: 1s;
    cursor: pointer;
}

.applestore:hover{

    transform: scale(1.3);
    z-index: 2;
}

.facebook{

    height: 50px;
    margin-left: 40px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 1);
    transition: 1s;
    cursor: pointer;
}

.facebook:hover{

    transform: scale(1.3);
    z-index: 2;

}

.twitter{

    height: 50px;
    margin-left: 40px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 1);
    transition: 1s;
    cursor: pointer;

}

.twitter:hover{

    transform: scale(1.3);
    z-index: 2;
}

.instagram{

    height: 50px;
    margin-left: 40px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 1);
    transition: 1s;
    cursor: pointer;
}

.instagram:hover{

    transform: scale(1.3);
    z-index: 2;
}







