*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
    position: relative;
}


.background{  /* background wallpaper*/

    background-size: cover;
    height: 100vh;
    height: 20%;  
    position: relative; 

}

.logo img{  /* website logo*/

    width: 300px;
    height: 100px;
    margin: 0;
    padding: 0;
}

nav{ /* navigation */
    width:auto;
    height: 100px;
    background: white;
    overflow: auto;
    margin-left: 300px;
    margin-top: -104px;
    position: absolute;
}

nav ul{

    padding: 0;
    margin: 0 0 0 250px;
    list-style: none;
   
}

nav ul li{

    float: left;
}

nav ul li a{

    width: 100px;
    display: block;
    padding: 20px 25px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color:black;
    margin-top: 15px;
   
    

}

nav ul li a:hover{
    background: grey;
    font-weight: bold;
    text-transform:uppercase;
}

.search{

    border-radius: 30px;
    width:190px;
    height: 50px;
    margin-top: 15px;
    font-weight: bold;
    text-align: center;
   
}

.intro{

    text-align: center;
    color: white;
}

.paragraph{

    text-align: center;
    color: white;

    
}

.listhead{


    margin-left: 430px;
    color: white;
}

.listtable{

    width: 850px;
    margin-left: 250px;
}

.tablehead{

    height: 40px;
    font-size:x-large;
    background-color: aquamarine;
    color: white;
}

.tablerow{

    height: 30px;
    background-color:navy;
    font-size: large;
    color: white;


}






