*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    
   
}
body {

    background: black;
}

.logo img{  /* website logo*/

    width: 300px;
    height: 100px;
    margin: 0;
    padding: 0;
}

nav{ /* navigation */
    width:auto;
    height: 100px;
    background: white;
    margin-left: 300px;
    margin-top: -104px;
   
}

nav ul{

    padding: 0;
    margin: 0 0 0 150px;
    list-style: none;
   
}

nav ul li{

    float: left;
}

nav ul li a{

    width: 100px;
    display: block;
    padding: 20px 25px;
    text-decoration: none; 
    font-family: Arial, Helvetica, sans-serif;
    color:black;
    font-weight: bold;
    margin-top: 15px;
   
}

nav ul li a:hover{
    background: grey;
    font-weight: bold;
    text-transform:uppercase;
}

@media screen and (max-width: 600px ) {
    
    .container { width: 100px;}
}

.intro{

    text-align: center;
    color: white;
}

.paragraph{

    text-align: center;
    color: white;

    
}

.listhead{


    margin-left: 430px;
    color: white;
}

.listtable{

    width: 850px;
    margin-left: 250px;
}

.tablehead{

    height: 40px;
    font-size:x-large;
    background-color: aquamarine;
    color: white;
}

.tablerow{

    height: 30px;
    background-color:navy;
    font-size: large;
    color: white;


}
