body {
    display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	flex-direction: column;
    background-color: aquamarine;
}

*{
	font-family: sans-serif;
	box-sizing: border-box;
}

form {
	width: 400px;
	padding: 25px;
	padding-top: 0px;
	padding-bottom: 0px;
	background: #fff;
	border-radius: 15px;	
}

h2{
	text-align: center;
	font-size: 35px;
	margin-bottom: 20px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	padding: 10px;
	color: rgb(105, 8, 53);
	
}

input {
	display: block;
	border: 2px solid rgb(53, 178, 236);
	width: 95%;
	padding: 15px;
	margin: 4px 10px;

}


button {
	display: block;
	align-items: center;
	width: 50%;
	background: rgb(168, 5, 5);
	padding: 10px 10px;
	color: #fff;
	font-size: 20px;
	margin-right: 10px;
	margin-top: 10px;
	border: none;
}





