
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;900&display=swap');



*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
   
}

/*navigation bar*/
.head{
    width: 100%;
    height: 65px;
    padding-top: 5px;
    background-color: rgb(14, 56, 241);   
    
    
}

.head li{
    display: inline;
    list-style-type: none;   
}

a{
    text-decoration: none;
    font-size: 20px;
    color: white;
    
}

.head button{
    width: 180px;
    height: 50px;
    background-color: rgb(14, 56, 241);
    border: none;
}

.dropdown{
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 5px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    margin: 0; 
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(12, 10, 10, 0.2);
    z-index: 1;
  }

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    font-family: sans-serif;
    display: block;
    text-align: left;
  }

  .dropdown:hover .dropdown-content {
    display: block;
   
  }

  .dropdown-content a:hover {
    background-color: rgb(14, 56, 241);
  }

  a:hover{
      color: yellow;
  }

  .head button:hover{
      color: yellow;
  }

  /*AZ logo*/
  #logo{ 
      background-image: url(logo2.png);
      background-size: cover;
      margin-left: 50px;
      margin-right: 200px;
      padding-top: 10px;
  }

  #login{
     float: right;   
    overflow: hidden;
  }

/*slider*/
  .slider{
    overflow: hidden;
    width: 55%;
    height: 80vh;
    background-size: cover;
    margin: 0px 100px 68px 100px;
    padding-top: 60px;
    
    background-position: center;
    
    
    
  }

/*one slide*/
.slider figure div{
  float: left;
  width: 20%;

}

.slider figure img{
  width: 100%;
  height: 80vh;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  float: left;
}

.slider figure{
  position: relative;
  width: 500%;
  margin: 0;
  animation: anim 25s infinite;
}

/*animation*/
@keyframes anim{
  0%{
    left: 0%;
  }

  18%{
    left: 0%;
  }

  20%{
    left: -100%;
  }

  38%{
    left: -100%;
  }
  40%{
    left:-200%;
  }

  58%{
    left:-200%;
  }

  60%{
    left:-300%;
  }

  78%{
    left:-300%;
  }

  80%{
    left: -400%;
  }
  
  99.9%{
    left: -400%;
  }
  100%{
    left: 0%
  }


}

  /*footer*/
  .footer{
    width: 100%;
    height: 50px;
    color: white;
    background-color: black;
    text-align: center;
    display: flex;
	  justify-content: center;
	  align-items: center;
    font-family: sans-serif;
    margin-top: 50px;
   
  }

  .Cprograming{
    width: 48%;
    height: 350px;
     background-image: url(home-images/c4.png);
     background-size: cover;
     float: left;
     margin: 15px;
     
     border-radius: 15px;
    

  }

  .html{
    width: 48%;
    height: 350px;
     background-image: url(home-images/ht7.jpg);
     background-size: cover;
     float: right;
     margin: 15px;
     margin-left: 0px;
     
     border-radius: 15px;
  }

  .css{
    width: 48%;
    height: 350px;
     background-image: url(home-images/cs4.png);
     background-size: cover;
     float: left;
     margin: 15px;
     border-radius: 15px;
     margin-bottom: 50px;
  }

  .java{
    width: 48%;
    height: 350px;
     background-image: url(home-images/java1.jpg);
     background-size: cover;
     float: right;
     margin: 15px;
     border-radius: 15px;
     margin-left: 0px;
     
  }

.learn{
width: 120px;
height: 50px;
background-color: red;
display: flex;
justify-content: center;
align-items: center;
color: rgb(255, 255, 255);
font-weight: bold;
float: right;
margin-top: 280px;
margin-right: 30px;
border-radius: 10px;
}

.bgcolor{
  background: url(images/1.jpg);
  background-size: cover;
  width: 100%;
 
  
  
}

#hr1{
  border: 2px solid rgb(31, 7, 168);
  margin-top: 20px;

}

h1{
  text-align: center;
  padding: 10px;
  font-size: 55px;
  font-family: Roboto;
  
  font-weight: bold;
  color:  rgb(31, 7, 168);
  background-color: rgb(214, 232, 250);
  opacity: 0.9;
  margin-bottom: 40px;
}

#hr2{
  border: 3px solid rgb(31, 7, 168);
  margin-right: 30%;
  margin-left: 30%;
  margin-bottom: 20px;

}

.learn1{
  width: 100%;
  height: auto;
 background: url(Home-Images/1.jpg);
 background-size: cover;
  
}


