*{
    margin: 0;
    padding: 0;
}

body{
    font-family: sans-serif;
    height: 90vh;
    background: url(home-images/back8.jpg) ;

    background-size: cover;
}

/* Our Team */
.team-section{
    overflow: hidden;
    text-align: center;
    padding: 60px;
}

/* Heading */
.team-section h1{
    text-transform: uppercase;
    margin-bottom: 30px;
    color: #c0392b;
    font-size: 50px;
}

.bdr1{
    display: block;
    margin: auto;
    width: 160px;
    height: 3px;
    background-color: #c0392b;
    margin-bottom: 50px;
    
}

.bdr3{
    display: block;
    margin: auto;
    width: 160px;
    height: 3px;
    background-color: #c0392b;
   
    
}

/* Images */
.pic{
    margin-bottom: 40px;
}

.pic a{
    display: inline-block;
    border: #c0392b 6px solid;
    margin: 0 20px;
    width: 200px;
    height: 200px;
    overflow: hidden;
    transition: all 0.5s ease-in;
    
}

.pic a img{
    width: 100%;
    
    transition: all 0.4s;
}

.pic a:hover > img{
    filter: none;
}

.pic a:hover{
    transform: rotate(-10deg);
}

/* Description */
.desc{
    width: 40%;
    margin: auto;
    background-color: #2c3e50;
    font-size: 18px;
    font-weight: lighter;
    color: #ecf0f1;
    text-align: justify;
    overflow: hidden;
    height: 0;
    
}

.desc:target{
    height: auto;
    padding: 30px;
    transition: all 0.3s ease-in;
}

.name, .social, .stdid{
    display: block;
    margin-bottom: 30px;
    text-align: center;
    font-size: 30px;
    transition: all 0.5s ease-in;
}

.name{
    margin-bottom: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.stdid{
    font-size: 15px;
    
}

.social i{
    cursor: pointer;
    transition: all 0.3s ease-in;
    color: white;
}

.social i:hover{
    color: #c0392b;
    transform: translateY(-2px);
    
}

/* Bottom Div */
.bdr2{
    width: 20%;
    margin: auto;
    height: 5px;
    background-color: #c0392b;
}

