*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
   background-color: rgb(172, 196, 248);
}

  /* Right-aligned section inside the top navigation */
  .topnav-right {
    float: right;
  }

  #main-header{
    background-color: rgb(88, 6, 240);
    width: 100%;
    position: fixed;
    top: 0;
}

/* Logo */
.logo{
    float: left;
    background-image: url(1.png);
    background-size: cover;
    width: 150px;
    height: 50px;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

/* Nav bar */
#navbar{
    margin-top: 10px;
    float: right;
}

#navbar ul{
    padding: 10px;
    list-style: none;
}

#navbar li{
    display: inline;
    padding: 15px 10px;
    cursor: pointer;
}

#navbar a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 10px;
    cursor: pointer;
}

#navbar a:hover{
    
    color: rgb(218, 241, 6);
}

/* Seacrch bar */
input[type=text] {
  
  padding: 6px;
  border: none;
  font-size: 17px;
  display: inline;
  margin-left: 25%;
}

.search-container{
  display: inline;
  
}

.cont .search-container button {
  
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

#qa{
  color: white;
 
  font: 3em sans-serif;
  font-weight: bold;
  
}
  
/****************************** End of the Header *******************************************************/
.all{
  box-sizing: border-box;
  margin-top: 50px;
  
  
}

.right{

  width: 60%;
  height: 800px;
  background-color: white;
  float: right;
  padding: 20px;
  margin: 5%;
  margin-left: 0%;
  border-radius: 10px;
  margin-top: 3%;
}

.left{

  width: 25%;
  height: auto;
  background-color: white;
  float: left;
  margin: 5%;
  margin-right: 0%;
  padding-left: 0%;
  border-radius: 10px;
  margin-top: 3%;
  padding: 20px;
}

h1,h2{
  text-align: center;
}

.cat li{
  list-style: none;
  padding: 10px;
  font-size: 1.3rem;
  
}

.cat a{
  text-decoration: none;
  color: black;
}

hr{
  margin: 5px;
}

.cat li:hover{
background-color: rgb(235, 155, 98);
}


.active{
  background-color: chocolate;
}

.ques{
  width: 100%;
  height: auto;
  padding: 15px;
  text-align: justify;
}

.ques h3{
  color: blue;
  padding-bottom: 5px;
}

.ques p{
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 25px;
}





form button { margin: 5px 0px; }
textarea { display: block; margin-bottom: 10px; }
/*post*/
.post { border: 1px solid #ccc; margin-top: 10px; }
/*comments*/
.comments-section { margin-top: 10px; border: 1px solid #ccc; }
.comment { margin-bottom: 10px; }
.comment .comment-name { font-weight: bold; }
.comment .comment-date {
	font-style: italic;
	font-size: 0.8em;
}
.comment .reply-btn, .edit-btn { font-size: 0.8em; }
.comment-details { width: 91.5%; float: left; }
.comment-details p { margin-bottom: 0px; }
.comment .profile_pic {
	width: 35px;
	height: 35px;
	margin-right: 5px;
	float: left;
	border-radius: 50%;
}
/*replies*/
.reply { margin-left: 30px; }
.reply_form {
	margin-left: 40px;
	display: none;
}
#comment_form { margin-top: 10px; }